{% extends "layout.html" %}
{% block content %}
<h3>TextLabeller is a free platform for labelling data for text classification tasks. Follow the steps below to start labelling &#x1F60A; </h3>
<!-- <h5>Steps to label text data: </h5>-->
<hr></hr> 
<p1>1. Register as a user or login</p1>
<br></br>
<p1>2. Create a project which includes uploading a CSV file containing one column of text data and providing the classes you want to label your data into </p1>
<br></br>
<p1>3. Go to the label data tab and select your project </p1>
<br></br>
<p1>4. Start labelling! </p1>
<br></br>
<p1>5. View and download your labelled data &nbsp; &#127881; &#127881; </p1>
<style>
    h3{ 
    	text-align: center;
    }
</style>

{% endblock content %}
